header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .title h1 {
    font-size: 36px;
    margin: 0;
  }
  
 
  .col-md-4 img {
    width: 25%;
    height: auto;
    display: block;
  }
  
  .col-md-8 h1 {
    font-size: 28px;
    margin: 10px 0;
  }
  
  .col-md-8 h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .col-md-8 p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  
  
  